@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.pagetopbar {
	background-color:#a7e9b3;
	padding:15px;
	border-radius: 15px;
	position: sticky;
	top: 8px;
}

.topbarimg {
	height: min(100px,10vh);
	padding-bottom:15px;
}

.linkflex {
	display:flex;
	justify-content:center;
	flex-wrap: wrap;
}

.linkflex > a {
	font-family:Roboto Mono;
	margin-left:10px;
	margin-right:10px;
	font-size:24px;
}

.maindiv {
	width: clamp(325px, 50%, 1000px);
	margin: auto;
}

a {
	color:#129843;
	transition: 0.5s ease;
	text-decoration-line: underline;
}

a:hover {
	color:#4cc168;
}

a[target="_blank"], a[href^="http"] {
	background-image: url("images/external-link.svg");
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 1em;
}

html {
	background-color:#e3ffe8;
}

h1 {
	font-family:Audiowide;
}

h2 {
	font-family: Montserrat;
	color: #006600;
	font-size:30px;
	padding-left:20px;
	padding-right:20px;
}

details {
	background-color:#bbfec7;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
}

summary {
	font-family: Nunito;
	font-size:22px;
	color:#444444
}

p {
	font-family: Nunito;
	font-size:22px;
	color:#444444
}